* {
    box-sizing: border-box;
    /* font-family: "Playfair Display"; */
    font-family: "Rubik", sans-serif;
}

body{
    margin: 23px;
    overflow-x: hidden;
}

html{ 
    scroll-behavior: smooth;
}

.noScroll{
    overflow-y: hidden;
}